html,
body {
    height: 100%;
    margin: 0;
}

#torrents-table-container table {
    width: 100%;
}

#torrents-table-container thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

#torrents-table-container td:first-child {
    max-width: 900px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.logo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#torrents-table-container {
    flex-grow: 1;
}

#info-panel {
    min-height: 28%;
    max-height: 28%;
    resize: vertical;
}

#info-panel .nav-tabs {
    position: sticky;
    top: 0;
    background-color: #212529;
    z-index: 10;
}

#info-panel .tab-content {
    max-height: calc(50vh - 50px);
}

.state-downloading {
    background-color: rgba(0, 123, 255, 0.1) !important;
    color: #007bff !important;
}

.state-stalledDL {
    background-color: rgba(255, 193, 7, 0.1) !important;
    color: #856404 !important;
}

.state-uploading {
    background-color: rgba(40, 167, 69, 0.1) !important;
    color: #28a745 !important;
}

.state-stalledUP {
    background-color: rgba(40, 167, 69, 0.1) !important;
    color: #50af66 !important;
}

.state-metaDL,
.state-checkingDL,
.state-checkingResumeData {
    background-color: rgba(23, 162, 184, 0.1) !important;
    color: #17a2b8 !important;
}

.state-error {
    background-color: rgba(220, 53, 69, 0.1) !important;
    color: #dc3545 !important;
}

.state-unknown {
    background-color: rgba(108, 117, 125, 0.05) !important;
    color: #6c757d !important;
}

.selected-row,
.selected-row td {
    background-color: rgba(0, 123, 255, 0.15) !important;
    color: #abd6ff !important;
}

.flag-downloading {
    background-color: rgba(0, 123, 255, 0.1) !important;
    color: #007bff !important;
}

.flag-interested-choked {
    background-color: rgba(0, 123, 255, 0.2) !important;
    color: #0056b3 !important;
}

.flag-uploading {
    background-color: rgba(40, 167, 69, 0.1) !important;
    color: #28a745 !important;
}

.flag-not-uploading {
    background-color: rgba(40, 167, 69, 0.2) !important;
    color: #1c7430 !important;
}

.flag-snubbed {
    background-color: rgba(255, 193, 7, 0.1) !important;
    color: #eaaf08 !important;
}

.flag-not-interested {
    background-color: rgba(220, 53, 69, 0.1) !important;
    color: #dc3545 !important;
}

.flag-encrypted {
    background-color: rgba(23, 162, 184, 0.1) !important;
    color: #17a2b8 !important;
}

.flag-general {
    background-color: rgba(108, 117, 125, 0.05) !important;
    color: #c5c5c5 !important;
}